.hero-section {
  background-image: url("/hero1.jpg");
  width: 100%;
  height: 660px;
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0)
  );
}

.innerblock {
  width: 1280px;
  height: 112px;
  background-color: aqua;
}

.custom-dashed-border {
  border: 2px dashed #d1d5db; /* Tailwind's gray-300; adjust as needed */
  border-radius: 16px; /* Make it round, adjust px as needed */
  background: #f9fafb; /* Optional: for the slight background color */
  height: 83px;
}

.circle-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e7f0f8; /* Soft blue-gray, match your design */
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-icon-1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-icon img {
  width: 24px;
  height: 24px;
}

/* Animation keyframes */
@keyframes slideInLeft {
  from {
    opacity: 0.5;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0.5;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Initial state */
.hero-content,
.hero-image {
  opacity: 0;
}

/* Animation classes */
.animate-slide-in-left {
  animation: slideInLeft 1s ease-out forwards;
}

.animate-slide-in-right {
  animation: slideInRight 1s ease-out forwards;
}

.up-animation{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear {
  from{
    opacity: 0.5;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}